@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Bungee&family=Jersey+10&family=Jersey+15&family=Jersey+20&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'SegaNise';
  src: url('../assets/fonts/NiseSegaSonic.TTF') format('truetype');
}

@font-face {
  font-family: '8bit';
  src: url('../assets/fonts/8bitEndless.ttf') format('truetype');
}

body, html {
    margin: 0;
    /* width: 100vw; */
    
    background: #17141C;
    background: linear-gradient(180deg,rgba(30, 13, 41, 1) 17%, rgba(66, 19, 97, 1) 49%, rgba(66, 19, 97, 1) 57%, rgba(30, 13, 41, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed; /* se quiser que o fundo fique fixo */
    background-size: cover; /* ajusta o tamanho para cobrir */
}


header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 130px;
    /* background-color: rebeccapurple; */
}

.containerHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    width: 98%;
    height: 100px;
    background-color: #4e0e79;
    border-radius: 20px;
    box-shadow: inset 0px 0px 30px #b348e4d7;
}

.logoHeader{
    margin-left: 30px;
    color: white;
    font-size: 50px;
    font-family: 'Jersey 15';
    cursor: pointer;
}

.rightBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.soundButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: #413A4D;
    border: none;
    border-radius: 7px;
    /* border-right: 3px solid #B348E4;
    border-bottom: 3px solid #B348E4; */
    /* box-shadow: 
    inset 3px 0 20px -5px #b348e46c, 
    inset 0 3px 20px -5px #b348e46c;    */

    margin-right: 10px;
    cursor: pointer;
}

.soundButton:hover{
    background-color: #403a49;
}

.iconSoundButton{
    width: 25px;
    height: 25px;
}

.searchHeader{
    outline: none;
    border: none;
    height: 45px;
    margin-right: 30px;
    width: 320px;
    border-radius: 8px;
    background-color: #6f20a3;
    font-family: 'Jersey 15';
    color: #d6cbe0;
    font-size: 24px;
    padding-left: 20px;
}

.searchHeader::placeholder{
    color: #9E84B4;
    font-size: 26px;
    font-family: 'Jersey 15';
}

main{
    width: 100%;
    height: 100%;
    /* background-color: rebeccapurple; */
}

.containerMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gameContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1600px;
    width: 98%;
    height: 800px;
    background-color: #4e0e79;
    border-radius: 20px;
    box-shadow: inset 0px -5px 20px #b348e4d7;
}




.groupsBox{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #9E84B4; */
}

.group1GameContainer{
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
}

.likeButton{
    margin-top: 40px;
    width: 40px;
    opacity: 40%;
    cursor: pointer;
    transition: 0.3s;
}

.deslikeButton{
    transform: rotate(180deg);
    width: 40px;
    opacity: 40%;
    cursor: pointer;
    transition: 0.3s;
}

.likeButton:hover{
    opacity: 100%;
}
.deslikeButton:hover{
    opacity: 100%;
}

.rates{
    font-family: 'Jersey 10';
    color: white;
    font-size: 30px;
}

.group2GameContainer{
    width: 1200px;
    height: 650px;
    background-color: rgb(255, 255, 255); 
    margin-top: -20px;
}

.headContainerJogo {
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 20px;
    background: none;
    border: none;
    cursor: pointer;
    width: 70px;
    height: 70px;
    border: 2px solid white;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    border-radius: 10px;
    transition: 0.3s;
}

.backButton:hover {
    background-color: #2e2936;
}

.imgButtonBack{
    width: 40px;
}

.gameName{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 35px;
    font-family: 'Jersey 15';
    /* background-color: red; */
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 130px;
}

.containerFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1600px;
    width: 98%;
    height: 80px;
    background-color: #4e0e79;
    border-radius: 20px;
    box-shadow: inset 0px 0px 30px #b348e4d7;
}

.textFooter{
    color: #DEC5F2;
    font-size: 28px;
    font-family: 'Jersey 15';
}


.game-board {
    width: 100%;
    height: 100%;
    /*border: 1px solid #333;*/
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-image:url(../assets/backgroundSonic.png);
    background-size: cover;
    
}

.jogar_intro {
    display: flex;
    background: linear-gradient(#c99758, white);
    height: 100px;
    padding-top: 10px;
    padding-left: 5px;
}

.atualizar {
    background: #2966d9;
    border: 0 none;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.intro_atualizar {
    padding-left: 10px;
}

.botao {
    background: transparent;
    border: 0 none;
}

.startScreen{
    position: absolute;
    display: flex;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #ffd82d;
    background-image: url(../assets/fundoStartScreen.png);
    background-size: cover  ;

}

.title1SC{
    font-family: 'jersey 20';
    position: absolute;
    right: 250px;
    top: -80px;
    font-size: 120px;
    margin-top: 100px;
    font-weight: 600;
    margin-bottom: 0px;
    color: white;
    background: linear-gradient(90deg, rgb(15, 15, 15), #333333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    color: transparent;

}

.title2SC{
    font-family: 'jersey 20';
    position: absolute;
    right: 50px;
    top: 10px;
    font-size: 110px;
    margin-top: 100px;
    margin-bottom: 0px;
    color: white;
    background: linear-gradient(90deg, rgb(15, 15, 15), #333333); /* Gradiente de cima para baixo */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
 
}

.startBtnSC{
    position: absolute;
    display: flex;
    bottom: 100px;
    justify-content: center;
    color: white;
    align-items: center;
    font-family: 'jersey 20';
    font-size: 35px;
    width: 480px;
    height: 60px;
    right: 30px;
    background-color: rgb(29, 29, 29);
    border: none;
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
    border-bottom: 7px solid rgb(14, 14, 14);
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.startBtnSC:hover{
    scale: 1.05;
    background-color: rgb(14, 14, 14);
}

.score{
    position: relative;
    display: flex;
    z-index: 2;
    justify-content: left;
    align-items: center;
    width: 400px;
    height: 60px;
    background-color: rgb(207, 207, 207);
    clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
    border-bottom: 8px solid rgb(122, 122, 122);

     
}

.ringsDisplay{
    position: relative;
    display: flex;
    z-index: 2;
    justify-content: left;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: rgb(207, 207, 207);
    clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
    border-bottom: 8px solid rgb(122, 122, 122);

    /* text-stroke: 2px black; Padrão para navegadores que aceitam sem prefixo */
}


#pontuacao{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(22, 22, 22);
    font-family: 'Jersey 20';
    margin-left: 20px;
    margin-top: 43px;
    font-size: 40px;
    /* -webkit-text-stroke: 2.5px rgb(22, 22, 22); Espessura e cor da borda */
}

#ringsShow{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(22, 22, 22);
    font-family: 'Jersey 20';
    margin-left: 10px;
    margin-top: 43px;
    font-size: 40px;
}

.ringDisplay{
    width: 55px;
}



.pipe {
    position: absolute;
    bottom: 100px;
    width: 130px;
    animation: pipe-animation 0s infinite linear;
}

@keyframes ring-animation {
    from {
        left: 100%;
    }
    to {
        left: -50px;
    }
}

.ring {
    position: absolute;
    bottom: 250px;
    width: 120px;
    animation: ring-animation 4s linear infinite;
}

.mario {
    width: 160px;
    position: absolute;
    bottom: 100px;
    left: 10px;
}

.jump {
    animation: jump 0.8s ease-in-out;
}

.birds {
    z-index: 0;
    width: 70px;
    position: absolute;
    top: 50px;
    animation: clouds-animation 8s infinite linear;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 100px;
    }
    10% {
        bottom: 200px;
    }
    20% {
        bottom: 280px;
    }
    30% {
        bottom: 315px;
    }
    40% {
        bottom: 330px; 
    }
    50% {
        bottom: 315px; 
    }
    60% {
        bottom: 280px; 
    }
    70% {
        bottom: 200px; 
    }
    80% {
        bottom: 150px; 
    }
    90% {
        bottom: 120px; 
    }
    100% {
        bottom: 100px;
    }
}

@keyframes clouds-animation{
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}

.gameoverContainer{
    position: absolute;
    display: none;
    z-index: 3;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Move a div para trás para centralizar */
    width: 80%;
    height: 80%;
    background-color: rgb(255, 216, 45);
    border-bottom: 10px solid rgb(255, 142, 13);
    border-right: 10px solid rgb(255, 142, 13);
}

.gameoverTitle{
    font-family: 'jersey 20';
    font-size: 70px;
    margin-top: 100px;
    margin-bottom: 0px;
    color: white;
    background: linear-gradient(90deg, #0f0f0f, #313131); /* Gradiente de cima para baixo */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* Suporte padrão */
    color: transparent;    /* Transparente para browsers sem prefixo */
    /* -webkit-text-stroke: 1px rgb(22, 22, 22); */
}

.sonicGameover{
    position: absolute;
    top: 20px;
    width: 200px;

}

.goScore{
    font-family: 'jersey 20';
    font-size: 50px;
    color: rgb(22, 22, 22);
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
}

.goRings{
    font-family: 'jersey 20';
    font-size: 50px;
    color: rgb(22, 22, 22);
    margin-top: 10px;
    text-align: center;
}

.goButton1{
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    font-family: 'jersey 20';
    font-size: 35px;
    width: 500px;
    height: 60px;
    background-color: rgb(29, 29, 29);
    border: none;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    border-bottom: 7px solid rgb(14, 14, 14);
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.goButton1:hover{
    background-color: rgb(14, 14, 14);
    scale: 1.05;
}


.lojaContainer{
    position: absolute;
    display: none;
    flex-direction: column;
    z-index: 5;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Move a div para trás para centralizar */
    width: 100%;
    height: 100%;
    background-color: rgb(255, 216, 45);

}

.shopTitle{
    font-family: 'jersey 20';
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 0px;
    color: white;
    background: linear-gradient(90deg, #0f0f0f, #313131); /* Gradiente de cima para baixo */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* Suporte padrão */
    color: transparent;    /* Transparente para browsers sem prefixo */
    /* -webkit-text-stroke: 1px rgb(22, 22, 22); */
}

.ringsDisplayShop{
    position: absolute;
    left: 0;
    top: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 200px;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: rgb(29, 29, 29);
    clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
    border-bottom: 7px solid rgb(14, 14, 14);

    /* text-stroke: 2px black; Padrão para navegadores que aceitam sem prefixo */
}

#ringsShop{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: 'Jersey 20';
    margin-left: 10px;
    margin-top: 43px;
    font-size: 40px;
}

.footerLoja{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    z-index: 3;
    background-color: rgb(255, 216, 45);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 80px;
}

.shopButton1{
        display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    font-family: 'jersey 20';
    font-size: 35px;
    margin-left: 20px;
    width: 200px;
    height: 50px;
    background-color: rgb(29, 29, 29);
    border: none;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    border-bottom: 7px solid rgb(14, 14, 14);
    cursor: pointer;
    transition: 0.3s;
}

.shopButton1:hover{
    background-color: rgb(14, 14, 14);
    scale: 1.05;
}

.containerPersonagens{
    width: 100%;
    /* background-color: rebeccapurple; */
    flex-wrap: wrap;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    gap: 50px;
}

.nomeCard{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    font-family: 'Jersey 20';
    font-size: 35px;
    background-color: rgb(22, 22, 22);
    color: white;
    height: 50px;
    margin: 0;
}

.cardPersonagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    height: 300px;
    margin-top: 20px;
    background-color: rgb(221, 187, 37);
}

.cardPersonagemlast{
        display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 120px;
    background-color: rgb(221, 187, 37);
}

.capaCard{
    width: 180px;
}

.buyCardBtn{
    display: flex;
    justify-content: center;
    color: white;
    position: relative;
    margin-top: auto;
    margin-bottom: 10px;
    align-items: center;
    font-family: 'jersey 20';
    font-size: 35px;
    width: 200px;
    height: 45px;
    background-color: rgb(29, 29, 29);
    border: none;
    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
    border-bottom: 7px solid rgb(14, 14, 14);
    cursor: pointer;
    transition: 0.3s;
}

.buyCardBtn:hover{
    background-color: rgb(14, 14, 14);
    scale: 1.05;
}